@import url(https://themes.googleusercontent.com/fonts/css?kit=yXJImh2Gz4tgGt6ZZoo0xhWv050lL_dG0S0Ec27SJJvt3c6UpmpzFi2Q-TJlmOH_sbPPHAhLJNaZ2DS0Aay_Di0NcXUcbeKYQF5wZ9QyTGtJbqUOAntt0nVRQnrH_GRVvebuibkKApD8K2VWTBgdc-u7gFSBSIMkuz8XGGcTtAL-SYK_Ln3uQOimoUBe-l5o);
.checkbox>li:before {
    content: "\00274f   "
}

ol.lst-kix_aizq6e90koqb-8.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-8 0
}

ul.lst-kix_1wo1hey1sa4s-2 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-1 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-0 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-6 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-5 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-4 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-3 {
    list-style-type: none
}

.lst-kix_ucy319waufye-8>li:before {
    content: "\0025a0   "
}

.lst-kix_ucy319waufye-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_1wo1hey1sa4s-8 {
    list-style-type: none
}

ul.lst-kix_1wo1hey1sa4s-7 {
    list-style-type: none
}

.lst-kix_ucy319waufye-1>li:before {
    content: "\0025cb   "
}

.lst-kix_eicq7quonnbg-4>li:before {
    content: "\0025cb   "
}

.lst-kix_eicq7quonnbg-3>li:before {
    content: "\0025cf   "
}

.lst-kix_ucy319waufye-0>li:before {
    content: "\0025cf   "
}

.lst-kix_eicq7quonnbg-2>li:before {
    content: "\0025a0   "
}

ol.lst-kix_aizq6e90koqb-3.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-3 0
}

.lst-kix_ucy319waufye-6>li:before {
    content: "\0025cf   "
}

.lst-kix_eicq7quonnbg-0>li:before {
    content: "\0025cf   "
}

.lst-kix_eicq7quonnbg-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ucy319waufye-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ucy319waufye-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ucy319waufye-4>li:before {
    content: "\0025cb   "
}

.lst-kix_ucy319waufye-3>li:before {
    content: "\0025cf   "
}

.lst-kix_aizq6e90koqb-5>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-5
}

.lst-kix_aizq6e90koqb-2>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-2
}

ul.lst-kix_xfx56ccn7dbv-7 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-8 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-5 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-6 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-0 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-3 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-4 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-1 {
    list-style-type: none
}

ul.lst-kix_xfx56ccn7dbv-2 {
    list-style-type: none
}

.lst-kix_wxqclpxhgif-7>li:before {
    content: "\0025cb   "
}

.lst-kix_aizq6e90koqb-3>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-3, decimal) ". "
}

ul.lst-kix_amq351uulc14-0 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-0 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-1 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-2 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-3 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-3 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-4 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-4 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-1 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-5 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-2 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-6 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-7 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-7 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-8 {
    list-style-type: none
}

ul.lst-kix_7pbs1274bjxj-8 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-5 {
    list-style-type: none
}

ul.lst-kix_amq351uulc14-6 {
    list-style-type: none
}

.lst-kix_xfx56ccn7dbv-6>li:before {
    content: "\0025cf   "
}

.lst-kix_xfx56ccn7dbv-8>li:before {
    content: "\0025a0   "
}

.lst-kix_aizq6e90koqb-1>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-1, lower-latin) ". "
}

.lst-kix_wxqclpxhgif-1>li:before {
    content: "\0025cb   "
}

.lst-kix_aizq6e90koqb-5>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-5, lower-roman) ". "
}

ol.lst-kix_aizq6e90koqb-1.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-1 0
}

.lst-kix_wxqclpxhgif-5>li:before {
    content: "\0025a0   "
}

.lst-kix_aizq6e90koqb-7>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-7, lower-latin) ". "
}

.lst-kix_eicq7quonnbg-5>li:before {
    content: "\0025a0   "
}

.lst-kix_wxqclpxhgif-3>li:before {
    content: "\0025cf   "
}

.lst-kix_8186u180hr0t-4>li:before {
    content: "\0025cb   "
}

.lst-kix_eicq7quonnbg-7>li:before {
    content: "\0025cb   "
}

.lst-kix_8186u180hr0t-0>li:before {
    content: "\0025cf   "
}

.lst-kix_8186u180hr0t-8>li:before {
    content: "\0025a0   "
}

.lst-kix_8186u180hr0t-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_rxogcaggebju-6 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-5 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-8 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-7 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-0 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-2 {
    list-style-type: none
}

.lst-kix_8186u180hr0t-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_rxogcaggebju-1 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-4 {
    list-style-type: none
}

ul.lst-kix_rxogcaggebju-3 {
    list-style-type: none
}

.lst-kix_xfx56ccn7dbv-2>li:before {
    content: "\0025a0   "
}

.lst-kix_xfx56ccn7dbv-4>li:before {
    content: "\0025cb   "
}

.lst-kix_ypb39hkwaneg-8>li:before {
    content: "\0025a0   "
}

.lst-kix_xfx56ccn7dbv-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ypb39hkwaneg-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ypb39hkwaneg-3>li:before {
    content: "\0025cf   "
}

ol.lst-kix_aizq6e90koqb-5.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-5 0
}

.lst-kix_ypb39hkwaneg-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_fwxooyup024j-8 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-4 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-5 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-6 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-7 {
    list-style-type: none
}

.lst-kix_frreylf3ckd1-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_fwxooyup024j-0 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-1 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-2 {
    list-style-type: none
}

ul.lst-kix_fwxooyup024j-3 {
    list-style-type: none
}

.lst-kix_frreylf3ckd1-1>li:before {
    content: "\0025cb   "
}

.lst-kix_frreylf3ckd1-6>li:before {
    content: "\0025cf   "
}

.lst-kix_frreylf3ckd1-5>li:before {
    content: "\0025a0   "
}

.lst-kix_1wo1hey1sa4s-3>li:before {
    content: "\0025cf   "
}

.lst-kix_1wo1hey1sa4s-7>li:before {
    content: "\0025cb   "
}

.lst-kix_1wo1hey1sa4s-0>li:before {
    content: "\0025cf   "
}

.lst-kix_1wo1hey1sa4s-8>li:before {
    content: "\0025a0   "
}

.lst-kix_1wo1hey1sa4s-4>li:before {
    content: "\0025cb   "
}

.lst-kix_list_2-4>li:before {
    content: "\002022   "
}

.lst-kix_list_2-8>li:before {
    content: "\002022   "
}

.lst-kix_rxogcaggebju-8>li:before {
    content: "\0025a0   "
}

.lst-kix_wxqclpxhgif-8>li:before {
    content: "\0025a0   "
}

.lst-kix_aizq6e90koqb-2>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-2, lower-roman) ". "
}

.lst-kix_rxogcaggebju-0>li:before {
    content: "\0025cf   "
}

.lst-kix_rxogcaggebju-4>li:before {
    content: "\0025cb   "
}

.lst-kix_fwxooyup024j-6>li:before {
    content: "\0025a0   "
}

ul.lst-kix_ql7fhttlok7l-0 {
    list-style-type: none
}

.lst-kix_xfx56ccn7dbv-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_ql7fhttlok7l-1 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-4.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-4 0
}

.lst-kix_fwxooyup024j-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_9i2ynagtia5q-6 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-7 {
    list-style-type: none
}

.lst-kix_ql7fhttlok7l-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_9i2ynagtia5q-8 {
    list-style-type: none
}

.lst-kix_9i2ynagtia5q-8>li:before {
    content: "\0025a0   "
}

.lst-kix_ql7fhttlok7l-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ql7fhttlok7l-8>li:before {
    content: "\0025a0   "
}

.lst-kix_wxqclpxhgif-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_ff8t83n9c9ab-0 {
    list-style-type: none
}

ul.lst-kix_ff8t83n9c9ab-1 {
    list-style-type: none
}

ul.lst-kix_ff8t83n9c9ab-2 {
    list-style-type: none
}

ul.lst-kix_ff8t83n9c9ab-3 {
    list-style-type: none
}

.lst-kix_wxqclpxhgif-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_ff8t83n9c9ab-4 {
    list-style-type: none
}

ul.lst-kix_ff8t83n9c9ab-5 {
    list-style-type: none
}

.lst-kix_aizq6e90koqb-6>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-6, decimal) ". "
}

ul.lst-kix_ff8t83n9c9ab-6 {
    list-style-type: none
}

ul.lst-kix_ff8t83n9c9ab-7 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-0 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-1 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-2 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-3 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-4 {
    list-style-type: none
}

ul.lst-kix_9i2ynagtia5q-5 {
    list-style-type: none
}

.lst-kix_aizq6e90koqb-7>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-7
}

.lst-kix_8186u180hr0t-3>li:before {
    content: "\0025cf   "
}

.lst-kix_8186u180hr0t-7>li:before {
    content: "\0025cb   "
}

.lst-kix_eicq7quonnbg-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_ff8t83n9c9ab-8 {
    list-style-type: none
}

.lst-kix_amq351uulc14-6>li:before {
    content: "\0025cf   "
}

ol.lst-kix_aizq6e90koqb-7.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-7 0
}

.lst-kix_amq351uulc14-2>li:before {
    content: "\0025a0   "
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_1-4>li:before {
    content: "o  "
}

.lst-kix_9i2ynagtia5q-4>li:before {
    content: "\0025cb   "
}

.lst-kix_ypb39hkwaneg-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ff8t83n9c9ab-3>li:before {
    content: "\0025cf   "
}

.lst-kix_xfx56ccn7dbv-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_2-0>li:before {
    content: "\002022   "
}

ol.lst-kix_aizq6e90koqb-6.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-6 0
}

.lst-kix_9i2ynagtia5q-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_1-8>li:before {
    content: "\0025aa   "
}

.lst-kix_ff8t83n9c9ab-7>li:before {
    content: "\0025cb   "
}

.lst-kix_xc32uapdtqze-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_xc32uapdtqze-1>li:before {
    content: "\0025cb   "
}

.lst-kix_xc32uapdtqze-3>li:before {
    content: "\0025cf   "
}

.lst-kix_xc32uapdtqze-4>li:before {
    content: "\0025cb   "
}

.lst-kix_xc32uapdtqze-2>li:before {
    content: "\0025a0   "
}

.lst-kix_xc32uapdtqze-7>li:before {
    content: "\0025cb   "
}

.lst-kix_xc32uapdtqze-8>li:before {
    content: "\0025a0   "
}

.lst-kix_xc32uapdtqze-5>li:before {
    content: "\0025a0   "
}

ol.lst-kix_aizq6e90koqb-2.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-2 0
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

.lst-kix_xc32uapdtqze-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

.lst-kix_7pbs1274bjxj-0>li:before {
    content: "\0025cf   "
}

.lst-kix_7pbs1274bjxj-1>li:before {
    content: "\0025cb   "
}

.lst-kix_7pbs1274bjxj-4>li:before {
    content: "\0025cb   "
}

.lst-kix_y0um2wdmi9hb-0>li:before {
    content: "\0025cf   "
}

.lst-kix_7pbs1274bjxj-2>li:before {
    content: "\0025a0   "
}

.lst-kix_7pbs1274bjxj-3>li:before {
    content: "\0025cf   "
}

.lst-kix_aizq6e90koqb-0>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-0
}

.lst-kix_y0um2wdmi9hb-8>li:before {
    content: "\0025a0   "
}

.lst-kix_y0um2wdmi9hb-7>li:before {
    content: "\0025cb   "
}

.lst-kix_y0um2wdmi9hb-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_xc32uapdtqze-5 {
    list-style-type: none
}

.lst-kix_7pbs1274bjxj-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_tx91amt6qqoe-0 {
    list-style-type: none
}

ul.lst-kix_xc32uapdtqze-6 {
    list-style-type: none
}

.lst-kix_y0um2wdmi9hb-4>li:before {
    content: "\0025cb   "
}

.lst-kix_y0um2wdmi9hb-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_xc32uapdtqze-3 {
    list-style-type: none
}

ul.lst-kix_xc32uapdtqze-4 {
    list-style-type: none
}

ul.lst-kix_xc32uapdtqze-1 {
    list-style-type: none
}

ul.lst-kix_xc32uapdtqze-2 {
    list-style-type: none
}

.lst-kix_7pbs1274bjxj-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_xc32uapdtqze-0 {
    list-style-type: none
}

.lst-kix_qu8nuuyde3us-0>li:before {
    content: "\0025cf   "
}

.lst-kix_y0um2wdmi9hb-1>li:before {
    content: "\0025cb   "
}

.lst-kix_y0um2wdmi9hb-2>li:before {
    content: "\0025a0   "
}

.lst-kix_qu8nuuyde3us-2>li:before {
    content: "\0025a0   "
}

.lst-kix_y0um2wdmi9hb-3>li:before {
    content: "\0025cf   "
}

.lst-kix_7pbs1274bjxj-6>li:before {
    content: "\0025cf   "
}

.lst-kix_qu8nuuyde3us-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_xc32uapdtqze-7 {
    list-style-type: none
}

.lst-kix_7pbs1274bjxj-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_xc32uapdtqze-8 {
    list-style-type: none
}

.lst-kix_qu8nuuyde3us-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_8186u180hr0t-7 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-5 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-2 {
    list-style-type: none
}

ul.lst-kix_8186u180hr0t-6 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-4 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-3 {
    list-style-type: none
}

ul.lst-kix_8186u180hr0t-5 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-3 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-4 {
    list-style-type: none
}

ul.lst-kix_8186u180hr0t-4 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-2 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-5 {
    list-style-type: none
}

ul.lst-kix_8186u180hr0t-3 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-1 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-6 {
    list-style-type: none
}

ul.lst-kix_8186u180hr0t-2 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-0 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-7 {
    list-style-type: none
}

.lst-kix_qu8nuuyde3us-3>li:before {
    content: "\0025cf   "
}

.lst-kix_qu8nuuyde3us-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_8186u180hr0t-1 {
    list-style-type: none
}

ul.lst-kix_ql7fhttlok7l-8 {
    list-style-type: none
}

ul.lst-kix_8186u180hr0t-0 {
    list-style-type: none
}

ul.lst-kix_tx91amt6qqoe-7 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-5 {
    list-style-type: none
}

ul.lst-kix_tx91amt6qqoe-8 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-6 {
    list-style-type: none
}

ul.lst-kix_tx91amt6qqoe-5 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-7 {
    list-style-type: none
}

ul.lst-kix_tx91amt6qqoe-6 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-8 {
    list-style-type: none
}

ul.lst-kix_tx91amt6qqoe-3 {
    list-style-type: none
}

.lst-kix_qu8nuuyde3us-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_tx91amt6qqoe-4 {
    list-style-type: none
}

ul.lst-kix_tx91amt6qqoe-1 {
    list-style-type: none
}

.lst-kix_qu8nuuyde3us-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_tx91amt6qqoe-2 {
    list-style-type: none
}

ul.checkbox {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-1 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-2 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-3 {
    list-style-type: none
}

ul.lst-kix_a7sdnzuhrefy-4 {
    list-style-type: none
}

.lst-kix_qu8nuuyde3us-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_eicq7quonnbg-8 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-7 {
    list-style-type: none
}

ul.lst-kix_eicq7quonnbg-6 {
    list-style-type: none
}

.lst-kix_list_2-7>li:before {
    content: "\002022   "
}

.lst-kix_rxogcaggebju-7>li:before {
    content: "\0025cb   "
}

.lst-kix_list_2-5>li:before {
    content: "\002022   "
}

.lst-kix_aizq6e90koqb-4>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-4
}

.lst-kix_rxogcaggebju-5>li:before {
    content: "\0025a0   "
}

.lst-kix_rxogcaggebju-1>li:before {
    content: "\0025cb   "
}

.lst-kix_fwxooyup024j-5>li:before {
    content: "\0027a2   "
}

.lst-kix_fwxooyup024j-7>li:before {
    content: "\0025cf   "
}

.lst-kix_rxogcaggebju-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_8186u180hr0t-8 {
    list-style-type: none
}

.lst-kix_ql7fhttlok7l-5>li:before {
    content: "\0025a0   "
}

.lst-kix_fwxooyup024j-1>li:before {
    content: "\0027a2   "
}

.lst-kix_fwxooyup024j-3>li:before {
    content: "\0025cf   "
}

.lst-kix_9i2ynagtia5q-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ql7fhttlok7l-7>li:before {
    content: "\0025cb   "
}

.lst-kix_aizq6e90koqb-3>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-3
}

.lst-kix_ql7fhttlok7l-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ql7fhttlok7l-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_frreylf3ckd1-7 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-8 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-5 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-6 {
    list-style-type: none
}

.lst-kix_amq351uulc14-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_frreylf3ckd1-0 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-3 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-4 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-1 {
    list-style-type: none
}

ul.lst-kix_frreylf3ckd1-2 {
    list-style-type: none
}

.lst-kix_amq351uulc14-3>li:before {
    content: "\0025cf   "
}

.lst-kix_ff8t83n9c9ab-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_2-8 {
    list-style-type: none
}

.lst-kix_amq351uulc14-1>li:before {
    content: "\0025cb   "
}

.lst-kix_amq351uulc14-5>li:before {
    content: "\0025a0   "
}

ol.lst-kix_aizq6e90koqb-0.start {
    counter-reset: lst-ctn-kix_aizq6e90koqb-0 0
}

.lst-kix_ff8t83n9c9ab-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_list_2-2 {
    list-style-type: none
}

ul.lst-kix_list_2-3 {
    list-style-type: none
}

ul.lst-kix_list_2-0 {
    list-style-type: none
}

ul.lst-kix_list_2-1 {
    list-style-type: none
}

.lst-kix_9i2ynagtia5q-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_list_2-6 {
    list-style-type: none
}

.lst-kix_list_1-1>li:before {
    content: "o  "
}

ul.lst-kix_list_2-7 {
    list-style-type: none
}

ul.lst-kix_list_2-4 {
    list-style-type: none
}

ul.lst-kix_list_2-5 {
    list-style-type: none
}

.lst-kix_list_1-3>li:before {
    content: "\0025cf   "
}

.lst-kix_ff8t83n9c9ab-8>li:before {
    content: "\0025a0   "
}

.lst-kix_ff8t83n9c9ab-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_1-7>li:before {
    content: "o  "
}

.lst-kix_ff8t83n9c9ab-4>li:before {
    content: "\0025cb   "
}

.lst-kix_9i2ynagtia5q-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_1-5>li:before {
    content: "\0025aa   "
}

.lst-kix_9i2ynagtia5q-1>li:before {
    content: "\0025cb   "
}

.lst-kix_list_2-1>li:before {
    content: "\002022   "
}

.lst-kix_list_2-3>li:before {
    content: "\002022   "
}

ul.lst-kix_rjyod5loz8hj-7 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-1 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-8 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-2 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-3 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-4 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-0 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-0 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-1 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-2 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-3 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-5 {
    list-style-type: none
}

.lst-kix_ypb39hkwaneg-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_rjyod5loz8hj-4 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-6 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-5 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-7 {
    list-style-type: none
}

ul.lst-kix_rjyod5loz8hj-6 {
    list-style-type: none
}

ol.lst-kix_aizq6e90koqb-8 {
    list-style-type: none
}

.lst-kix_ypb39hkwaneg-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ypb39hkwaneg-6>li:before {
    content: "\0025cf   "
}

.lst-kix_ypb39hkwaneg-5>li:before {
    content: "\0025a0   "
}

.lst-kix_frreylf3ckd1-0>li:before {
    content: "\0025cf   "
}

.lst-kix_frreylf3ckd1-3>li:before {
    content: "\0025cf   "
}

.lst-kix_frreylf3ckd1-7>li:before {
    content: "\0025cb   "
}

.lst-kix_frreylf3ckd1-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_qu8nuuyde3us-8 {
    list-style-type: none
}

.lst-kix_1wo1hey1sa4s-2>li:before {
    content: "\0025a0   "
}

.lst-kix_1wo1hey1sa4s-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_qu8nuuyde3us-5 {
    list-style-type: none
}

ul.lst-kix_qu8nuuyde3us-4 {
    list-style-type: none
}

ul.lst-kix_qu8nuuyde3us-7 {
    list-style-type: none
}

ul.lst-kix_qu8nuuyde3us-6 {
    list-style-type: none
}

ul.lst-kix_qu8nuuyde3us-1 {
    list-style-type: none
}

.lst-kix_frreylf3ckd1-8>li:before {
    content: "\0025a0   "
}

.lst-kix_1wo1hey1sa4s-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_qu8nuuyde3us-0 {
    list-style-type: none
}

ul.lst-kix_qu8nuuyde3us-3 {
    list-style-type: none
}

ul.lst-kix_qu8nuuyde3us-2 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-7 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-6 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-5 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-4 {
    list-style-type: none
}

.lst-kix_aizq6e90koqb-8>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-8
}

ul.lst-kix_8lae6utcoae-8 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-3 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-2 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-1 {
    list-style-type: none
}

ul.lst-kix_8lae6utcoae-0 {
    list-style-type: none
}

.lst-kix_1wo1hey1sa4s-5>li:before {
    content: "\0025a0   "
}

.lst-kix_list_2-6>li:before {
    content: "\002022   "
}

ul.lst-kix_wxqclpxhgif-3 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-2 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-1 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-0 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-7 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-6 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-5 {
    list-style-type: none
}

ul.lst-kix_wxqclpxhgif-4 {
    list-style-type: none
}

.lst-kix_rxogcaggebju-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_wxqclpxhgif-8 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-5 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-5 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-4 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-6 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-3 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-3 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-2 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-4 {
    list-style-type: none
}

.lst-kix_fwxooyup024j-8>li:before {
    content: "\0025c6   "
}

ul.lst-kix_ypb39hkwaneg-1 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-8 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-2 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-7 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-0 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-6 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-1 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-0 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-2 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-3 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-4 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-5 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-1 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-6 {
    list-style-type: none
}

ul.lst-kix_y0um2wdmi9hb-0 {
    list-style-type: none
}

ul.lst-kix_ucy319waufye-7 {
    list-style-type: none
}

.lst-kix_aizq6e90koqb-0>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-0, decimal) ". "
}

ul.lst-kix_ucy319waufye-8 {
    list-style-type: none
}

ul.lst-kix_ypb39hkwaneg-7 {
    list-style-type: none
}

.lst-kix_rxogcaggebju-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_ypb39hkwaneg-8 {
    list-style-type: none
}

.lst-kix_fwxooyup024j-0>li:before {
    content: "\002756   "
}

.lst-kix_fwxooyup024j-4>li:before {
    content: "\0025c6   "
}

.lst-kix_amq351uulc14-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ql7fhttlok7l-6>li:before {
    content: "\0025cf   "
}

.lst-kix_aizq6e90koqb-4>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-4, lower-latin) ". "
}

.lst-kix_wxqclpxhgif-6>li:before {
    content: "\0025cf   "
}

.lst-kix_wxqclpxhgif-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ql7fhttlok7l-2>li:before {
    content: "\0025a0   "
}

.lst-kix_aizq6e90koqb-8>li:before {
    content: ""counter(lst-ctn-kix_aizq6e90koqb-8, lower-roman) ". "
}

.lst-kix_aizq6e90koqb-6>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-6
}

.lst-kix_eicq7quonnbg-6>li:before {
    content: "\0025cf   "
}

.lst-kix_aizq6e90koqb-1>li {
    counter-increment: lst-ctn-kix_aizq6e90koqb-1
}

ul.lst-kix_vlf2bh5jfvnk-7 {
    list-style-type: none
}

ul.lst-kix_vlf2bh5jfvnk-8 {
    list-style-type: none
}

.lst-kix_amq351uulc14-8>li:before {
    content: "\0025a0   "
}

.lst-kix_8186u180hr0t-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ff8t83n9c9ab-1>li:before {
    content: "\0025cb   "
}

.lst-kix_amq351uulc14-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_vlf2bh5jfvnk-1 {
    list-style-type: none
}

ul.lst-kix_vlf2bh5jfvnk-2 {
    list-style-type: none
}

ul.lst-kix_vlf2bh5jfvnk-0 {
    list-style-type: none
}

ul.lst-kix_vlf2bh5jfvnk-5 {
    list-style-type: none
}

.lst-kix_list_1-2>li:before {
    content: "\0025aa   "
}

ul.lst-kix_vlf2bh5jfvnk-6 {
    list-style-type: none
}

ul.lst-kix_vlf2bh5jfvnk-3 {
    list-style-type: none
}

.lst-kix_8186u180hr0t-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_vlf2bh5jfvnk-4 {
    list-style-type: none
}

.lst-kix_9i2ynagtia5q-6>li:before {
    content: "\0025cf   "
}

.lst-kix_xfx56ccn7dbv-1>li:before {
    content: "\0025cb   "
}

.lst-kix_xfx56ccn7dbv-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ff8t83n9c9ab-5>li:before {
    content: "\0025a0   "
}

.lst-kix_list_1-6>li:before {
    content: "\0025cf   "
}

.lst-kix_9i2ynagtia5q-2>li:before {
    content: "\0025a0   "
}

.lst-kix_list_2-2>li:before {
    content: "\002022   "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c98 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 0pt;
    border-right-width: 1.5pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 234pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c5 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 2.2pt;
    border-right-width: 2.2pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 2.2pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 2.2pt;
    width: 234pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c57 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 246pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c107 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 1.5pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 259.5pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c87 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 1.5pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 400pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c43 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 234pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c65 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 201pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c89 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 222pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c83 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 267pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c11 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 1.5pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 468pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c37 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #153570;
    border-left-width: 1.5pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 485.2pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c126 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1.5pt;
    border-right-width: 0pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1.5pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 234pt;
    border-top-color: #153570;
    border-bottom-style: solid
}

.c125 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #153570;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #153570;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1.5pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 234pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c1 {
    -webkit-text-decoration-skip: none;
    color: #ff8900;
    font-weight: 700;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 18pt;
    font-family: "Nunito";
    font-style: normal
}

.c9 {
    color: #ff8900;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 15pt;
    font-family: "Nunito";
    font-style: normal
}

.c21 {
    padding-top: 8pt;
    padding-bottom: 5pt;
    line-height: 1.12;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c20 {
    color: #153570;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Nunito";
    font-style: normal
}

.c12 {
    color: #153570;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Nunito";
    font-style: normal
}

.c2 {
    color: #153570;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 15pt;
    font-family: "Nunito";
    font-style: normal
}

.c4 {
    color: #153570;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 2pt;
    font-family: "Nunito";
    font-style: normal
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 0.6;
    orphans: 2;
    widows: 2;
    text-align: center;
    height: 15pt
}

.c34 {
    padding-top: 10pt;
    padding-bottom: 5pt;
    line-height: 1.12;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c85 {
    margin-left: -72pt;
    padding-top: 15pt;
    padding-bottom: 10pt;
    line-height: 1.08;
    text-align: center;
    margin-right: -63pt
}

.c36 {
    margin-left: 40.5pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c48 {
    padding-top: 8pt;
    padding-bottom: 10pt;
    line-height: 1.08;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c22 {
    margin-left: 54pt;
    padding-top: 10pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    text-align: left
}

.c44 {
    padding-top: 5pt;
    padding-bottom: 5pt;
    line-height: 1.12;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c45 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.12;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c39 {
    padding-top: 15pt;
    padding-bottom: 10pt;
    line-height: 1.08;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c30 {
    color: #153570;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Nunito";
    font-style: normal
}

.c28 {
    margin-left: 4.5pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 0.06;
    text-align: left;
    height: 15pt
}

.c56 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.08;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c29 {
    margin-left: 4.5pt;
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    text-align: left
}

.c26 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    text-align: left;
    height: 15pt
}

.c17 {
    color: #39b7c2;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Source Code Pro";
    font-style: normal
}

.c103 {
    margin-left: 4.5pt;
    padding-top: 2pt;
    padding-bottom: 8pt;
    line-height: 1.2;
    text-align: left
}

.c54 {
    font-weight: 700;
    vertical-align: baseline;
    font-size: 17pt;
    font-family: "Nunito";
    font-style: normal
}

.c16 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c80 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #ff8900;
    font-weight: 900
}

.c72 {
    -webkit-text-decoration-skip: none;
    color: #000000;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c67 {
    color: #153570;
    font-weight: 400;
    font-size: 16pt;
    font-family: "Nunito"
}

.c117 {
    padding-top: 15pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    text-align: center
}

.c62 {
    font-weight: 900;
    vertical-align: baseline;
    font-family: "Nunito";
    font-style: normal
}

.c116 {
    padding-top: 8pt;
    padding-bottom: 10pt;
    line-height: 1.08;
    text-align: left
}

.c76 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c25 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #cc0000;
    font-weight: 900
}

.c7 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c115 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c59 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    text-align: left
}

.c96 {
    padding-top: 15pt;
    padding-bottom: 10pt;
    line-height: 1.08;
    text-align: center
}

.c8 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #00b0f0;
    font-weight: 900
}

.c81 {
    margin-left: -34.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c52 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #298993;
    font-weight: 900
}

.c129 {
    padding-top: 15pt;
    padding-bottom: 10pt;
    line-height: 1.08;
    text-align: right
}

.c88 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #f6b26b;
    font-weight: 900
}

.c78 {
    padding-top: 5pt;
    padding-bottom: 5pt;
    line-height: 1.12;
    text-align: center
}

.c100 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #1c4587;
    font-weight: 900
}

.c130 {
    padding-top: 15pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c124 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: center
}

.c101 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #f1c232;
    font-weight: 900
}

.c86 {
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    text-align: left
}

.c63 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #cc4125;
    font-weight: 900
}

.c27 {
    -webkit-text-decoration-skip: none;
    color: #ff8900;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c13 {
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Comfortaa";
    font-style: normal
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c71 {
    font-size: 25pt;
    font-family: "Nunito";
    color: #1155cc;
    font-weight: 900
}

.c112 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    text-align: left
}

body {
    background-color: #ffffff;
    
    padding: 72pt 72pt 0pt 72pt
}

#bodyWrap{
    margin: 0 auto;
    max-width: 468pt;
}

.notes{
    width: 100%;
    height: calc(100% - 33px);
}

.c41 {
    color: #153570;
    font-weight: 400;
    font-size: 11pt
}

.c24 {
    font-family: "Source Code Pro";
    color: #39b7c2;
    font-weight: 700
}

.c33 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c104 {
    font-size: 25pt;
    font-family: "Nunito";
    font-weight: 900
}

.c74 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline
}

.c64 {
    vertical-align: baseline;
    font-family: "Nunito";
    font-style: normal
}

.c3 {
    font-size: 17pt;
    color: #298993;
    font-weight: 700
}

.c49 {
    font-family: "Nunito";
    color: #298993;
    font-weight: 600
}

.c94 {
    color: #153570;
    font-size: 16pt;
    font-family: "Nunito"
}

.c51 {
    font-family: "Nunito";
    color: #ff8900;
    font-weight: 600
}

.c18 {
    color: #298993;
    font-weight: 400;
    font-size: 17pt
}

.c91 {
    color: #f1c232;
    text-decoration: none
}

.c106 {
    color: #ff8900;
    text-decoration: none
}

.c99 {
    font-weight: 400;
    font-family: "Nunito"
}

.c92 {
    color: #1c4587;
    text-decoration: none
}

.c42 {
    padding: 0;
    margin: 0
}

.c93 {
    font-family: "Source Code Pro";
    font-weight: 400
}

.c10 {
    font-size: 14pt;
    font-weight: 700
}

.c69 {
    font-family: "Nunito";
    font-weight: 600
}

.c6 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c75 {
    orphans: 2;
    widows: 2
}

.c50 {
    font-weight: 400;
    font-family: "Comfortaa"
}

.c35 {
    font-weight: 700;
    font-size: 3pt
}

.c31 {
    font-size: 30pt
}

.c123 {
    color: #f6b26b
}

.c73 {
    font-size: 15pt
}

.c19 {
    font-size: 12pt
}

.c15 {
    font-size: 14pt
}

.c102 {
    font-weight: 400
}

.c82 {
    color: #298993
}

.c119 {
    margin-right: -72pt
}

.c97 {
    height: 392.2pt
}

.c108 {
    text-decoration: none
}

.c70 {
    height: 324pt
}

.c23 {
    font-family: "Calibri"
}

.c111 {
    margin-right: -63pt
}

.c55 {
    font-style: italic
}

.c66 {
    margin-left: 9pt
}

.c118 {
    height: 30pt
}

.c58 {
    font-size: 8pt
}

.c53 {
    height: 46.5pt
}

.c60 {
    font-weight: 700
}

.c95 {
    color: #153570
}

.c121 {
    color: #3c78d8
}

.c40 {
    page-break-after: avoid
}

.c105 {
    height: 18pt
}

.c127 {
    height: 0pt
}

.c38 {
    font-size: 28pt
}

.c131 {
    color: #6d9eeb
}

.c84 {
    font-family: "Comfortaa"
}

.c68 {
    height: 204.8pt
}

.c79 {
    font-size: 17pt
}

.c109 {
    color: #4a86e8
}

.c46 {
    height: 210pt
}

.c120 {
    font-size: 5pt
}

.c128 {
    font-size: 3pt
}

.c114 {
    font-family: "Nunito"
}

.c113 {
    height: 291pt
}

.c122 {
    margin-left: 4.5pt
}

.c110 {
    height: 236.2pt
}

.c77 {
    color: #39b7c2
}

.c47 {
    height: 15pt
}

.c32 {
    height: 144pt
}

.c90 {
    height: 649.5pt
}

.title {
    padding-top: 24pt;
    color: #153570;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Nunito";
    line-height: 1.08;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.08;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #153570;
    font-size: 15pt;
    font-family: "Nunito"
}

p {
    margin: 0;
    color: #153570;
    font-size: 15pt;
    font-family: "Nunito"
}

h1 {
    padding-top: 15pt;
    color: #153570;
    font-weight: 900;
    font-size: 30pt;
    padding-bottom: 10pt;
    font-family: "Nunito";
    line-height: 1.08;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 5pt;
    -webkit-text-decoration-skip: none;
    color: #ff8900;
    font-weight: 700;
    text-decoration: underline;
    font-size: 18pt;
    padding-bottom: 5pt;
    line-height: 1.12;
    page-break-after: avoid;
    text-decoration-skip-ink: none;
    font-family: "Nunito";
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #153570;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Nunito";
    line-height: 1.08;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #153570;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Nunito";
    line-height: 1.08;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #153570;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Nunito";
    line-height: 1.08;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #153570;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Nunito";
    line-height: 1.08;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.ql-container.ql-snow {
    height: calc(100% - 57px);
    border: none;
}

.blankInput {
    border: none;
    background: transparent;
    position: absolute;
    transform: translateY(-5px);
}

#paint{
    height: 40vw;
    width: 80vw;
}